.jj{
	border: 10px solid yellow;
	border-radius: 50px;
}
img{
	border-radius: 90px;
}
.kk{
	padding-left: 40px;
	font-family: cursive;
}
body{
	background-color: #efdecd;
}
.ll{
	font-family: cursive;
}
.aa{
	text-align: center;
	font-family: cursive;
	font-size: 20px;
}